<div class="row">
    <div class="col-sm">
        <h4>products</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
      <th scope="col">Unit</th>
      <th scope="col">Category</th>
      <th scope="col">Sales Rate</th>
      <th scope="col">Purchase Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products | async">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.code}}</td>
      <td>{{product.unit.name}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.salesRate}}</td>
      <td>{{product.purchaseRate}}</td>
    </tr>
  </tbody>
</table>
    </div>
</div>